source/aws-connect-vm-portal/node_modules/*
source/aws-connect-vm-serverless/node_modules/
source/aws-connect-vm-portal/build/
source/aws-connect-vm-portal/env/
source/aws-connect-vm-serverless/handler/
source/aws-connect-vm-serverless/.serverless/
source/aws-connect-vm-portal/.eslintcache/
source/aws-connect-vm-serverless/target/
